.Wrap {}

.top_banner {
    background: #f7f7f7;
    padding: 30px 0;
}

.top_banner .container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.top_banner h2 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 31px;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.top_banner p {
    font-size: 14px;
    font-weight: 300;
}

.top_banner i {
    position: absolute;
    top: 0;
    right: 0;
}

.top_banner a {
    margin: 0 0 0 20px;
    padding: 0 15px 5px 15px;
    background: #333;
    color: #fff;
}

.header {
    border-bottom: 1px solid #ddd;
}

.header .container {
    display: flex;
    /*justify-content: space-between;=박스 크기 안에서 양끝 맞춰서 나란히 배열*/
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;
}

.header nav {
    margin: 0 0 0 auto;
}

.header nav ul {
    display: flex;
    gap: 40px;
    /*갭은 인터넷익스플로어에서 작동안함*/
}

.header nav ul li {
    position: relative;
}

.header nav ul li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 2px;
    height: 13px;
    background: #ddd;
    transform: translateY(-50%);
}

#searchForm {
    margin: 0 0 0 40px;
}

#searchForm input[type="search"] {
    border: none;
    outline: none;
    border-bottom: 1px solid #333;
    padding: 3px 0;
    color: #f00;
    width: 150px;
}

#searchForm button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
}

.main_visual {
    position: relative;
}

.main_slider figure {
    position: relative;
    height: 748px;
    color: #fff;
}

.main_slider .itm01 {
    background: url(../img/mainvisual01.jpg) no-repeat center center/cover;
}

.main_slider .itm02 {
    background: url(../img/mainvisual02.jpg) no-repeat center center/cover;
}

.main_slider .itm03 {
    background: url(../img/mainvisual03.jpg) no-repeat center center/cover;
}

.main_slider figure .container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1200px;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 3px #000;
}

.main_slider figure .container h3 {
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 20px 0;
    opacity: 0;
    transform: translateY(100px);
}

.main_slider figure.xxx .container h3 {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s;
}

.main_slider figure .container p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px 0;
    opacity: 0;
    transform: translateY(100px);
}

.main_slider figure.xxx .container p {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s 0.5s;
}

.main_slider figure .container a {
    display: inline-block;
    background: #333;
    padding: 10px 50px 12px 50px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.025em;
    text-shadow: none;

    opacity: 0;
    transform: translateY(100px);
}

.main_slider figure.xxx .container a {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.5s 1s, opacity 0.5s 1s;
}

.main_slider figure .container a:hover {
    background: #ddd;
    color: #333;
    border: 1px solid #000;
}

.main_slider .slick-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.main_slider .slick-dots li {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 5px;
    background: #333;
    margin: 0 5px;

}

/* .main_slider .slick-dots li.slick-active {
    background: #f9f9f9;
} */

.main_slider .slick-dots li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #f9f9f9;
    width: 0;
    height: 100%;

}

.main_slider .slick-dots li.slick-active::after {
    width: 100%;
    transition: 4s;
}

.main_slider .slick-dots button {
    display: none;
}

.main_slider .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;

    font-size: 0;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}

.main_slider .slick-prev {
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 0 0 0 -700px;
}

.main_slider .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 0 0 0 700px
}

.main_visual .num {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-100%);
    margin: 0 0 0 600px;
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    text-shadow: 0 0 3px #000;
}

#content01 {
    padding: 150px 0;
    text-align: center;
}

#content01 h2 {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
    letter-spacing: 0.5em;
}

#content01 p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 80px;
    letter-spacing: -0.025em;
}

#content01 .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

#content01 .container figure {
    flex: 1;
}

#content01 .container figure .case {
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 30% 70% 59% 41% / 38% 55% 45% 62%
        /* https://9elements.github.io/fancy-border-radius/ */
}

#content01 .container figure img {
    width: 100%;
    transition: 0.5s;
}

#content01 .container figure img:hover {
    transform: scale(1.5);
}

#content01 .container figure strong {
    display: block;
    margin-bottom: 20px;
}

#content01 .container a {
    display: inline-block;
    border: 1px solid #666;
    padding: 2px 15px 4px 15px;
    line-height: 30px;
}

#content01 .container a:hover {
    background: #333;
    color: #fff;
}

#index_bg {
    position: relative;
    padding: 150px 0;
    text-align: center;
    background:
        /*컬러위치*/
        url(../img/mainvisual03.jpg) no-repeat fixed center center/cover;
    filter: grayscale(1);
    color: #f2f2f2;
}

#index_bg h2 {
    margin: 0 0 40px 0;
    font-size: 30px;
    font-weight: 700;
}

#index_bg p {
    margin: 0 0 20px 0;
    font-size: 14px;
    font-weight: 300;
}

#index_bg a {
    position: absolute;
    display: inline-block;
    padding-right: 10px;
}

#index_bg i {
    padding: 7px;
    margin-left: 5px;
    background: #000;
    border-radius: 50%;
}

#movie01 {
    padding: 100px 0;
}

#movie01 .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

#movie01 .container>* {
    flex: 1;
    padding: 0 15px;
}

#movie01 video {
    width: 100%;
}

#movie01 .txt {
    padding: 50px 15px;
}

#movie01 .txt h2 {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 40px;
    letter-spacing: 0.5em;
}

#movie01 .txt p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.025em;
    line-height: 1.6;
    margin-bottom: 30px;
}

#movie01 .txt i {
    padding: 10px;
    border-radius: 50%;
    background: #333;
    font-size: 30px;
    color: #fff;
    margin-right: 20px;
}